<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="/css/carousel.css" rel="stylesheet">
    <title>Welcome to Futsal Ground</title>
</head>
<body>
<header>
    <div th:replace="fragments/bodyHeader :: menu('player')" />
</header>

<main role="main">
    <div class="container">
        <form role="form" th:action="@{/recruit/{id}/update (id=*{id})}" th:object="${recruitDto}" method="post">
            <div class="py-5 text-center">
                <h2>용병모집 등록</h2>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <h4 class="mb-3">팀 정보</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="teamname">팀명</label>
                                <input type="text" class="form-control" id="teamname" th:field="*{teamname}" placeholder="팀이름" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>영입 희망 포지션</label>
                            <div class="d-flex justify-content-around">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="keeper" th:field="*{position}" value="g">
                                    <label class="custom-control-label" for="keeper">골키퍼</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defence" th:field="*{position}" value="d" th:checked="*{position.contains('d')}">
                                    <label class="custom-control-label" for="defence">수비수</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="mid" th:field="*{position}" value="m" th:checked="*{position.contains('m')}">
                                    <label class="custom-control-label" for="mid">미드필더</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="forward" th:field="*{position}" value="f" th:checked="*{position.contains('f')}">
                                    <label class="custom-control-label" for="forward">공격수</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="ages">연령대</label>
                            <select class="custom-select d-block w-100" id="ages" name="ages" required>
                                <option value="all">다양함</option>
                                <option th:selected="*{ages.equals('20대 미만')}">20대 미만</option>
                                <option th:selected="*{ages.equals('20대 초반')}">20대 초반</option>
                                <option th:selected="*{ages.equals('20대 중반')}">20대 중반</option>
                                <option th:selected="*{ages.equals('20대 후반')}">20대 후반</option>
                                <option th:selected="*{ages.equals('30대 초반')}">30대 초반</option>
                                <option th:selected="*{ages.equals('30대 중반')}">30대 중반</option>
                                <option th:selected="*{ages.equals('30대 후반')}">30대 후반</option>
                                <option th:selected="*{ages.equals('40대 이상')}">40대 이상</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="skill">실력대</label>
                            <select class="custom-select d-block w-100" id="skill" name="skill" required>
                                <option value="all">다양함</option>
                                <option th:selected="*{skill.equals('하')}">하</option>
                                <option th:selected="*{skill.equals('중')}">중</option>
                                <option th:selected="*{skill.equals('상')}">상</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-around">
                                <label for="contactway" class="col-md-2">연락방법</label>
                                <input type="text" class="form-control" id="contactway" name="contactway" th:field="*{contactway}" required>
                                <div class="invalid-feedback">
                                    연락 방법을 입력해주세요.
                                </div>
                                <label for="phone" class="col-md-2">연락처</label>
                                <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" required>
                                <div class="invalid-feedback">
                                    연락처를 입력해 주세요.
                                </div>
                            </div>
                        </div>
                        <br />

                        <hr class="mb-4">
                        <h4 class="mb-3">구장 정보</h4>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="groundname">구장명</label>
                                <input type="text" class="form-control" id="groundname" name="groundname" th:field="*{groundname}" required>
                                <div class="invalid-feedback">
                                    구장이름을 입력해 주세요.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="addr1">구장 주소</label>
                            <input type="text" class="form-control" id="addr1" name="addr1" th:field="*{addr1}" required>
                            <div class="invalid-feedback">
                                구장 주소를 입력해 주세요
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="col-md-4 mb-3">
                                <label for="day"><span class="text-danger">경기 일을 다시 선택하세요</span></label>
                                <select class="custom-select d-block w-100" id="day" name="day" required>
                                    <option value="">Choose...</option>
                                    <th:block th:each="num : ${#numbers.sequence(0, 30)}">
                                        <option><span th:text="${#temporals.format(session.today.plusDays(num), 'yyyy-MM-dd(E)')}"></span></option>
<!--                                        <option th:selected="${#dates.day(*{day}) == #dates.day(${#temporals.format(session.today.plusDays(num), 'yyyy-MM-dd(E)')})}"><span th:text="${#temporals.format(session.today.plusDays(num), 'yyyy-MM-dd(E)')}"></span></option>-->
                                    </th:block>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="time">경기 시간</label>
                                <select class="custom-select d-block w-100" id="time" name="time" required>
                                    <option value="">Choose...</option>
                                    <option th:selected="*{time.equals('06:00')}">06:00</option>
                                    <option th:selected="*{time.equals('08:00')}">08:00</option>
                                    <option th:selected="*{time.equals('10:00')}">10:00</option>
                                    <option th:selected="*{time.equals('12:00')}">12:00</option>
                                    <option th:selected="*{time.equals('14:00')}">14:00</option>
                                    <option th:selected="*{time.equals('16:00')}">16:00</option>
                                    <option th:selected="*{time.equals('18:00')}">18:00</option>
                                    <option th:selected="*{time.equals('20:00')}">20:00</option>
                                    <option th:selected="*{time.equals('22:00')}">22:00</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="mb-3">
                            <div class="d-flex justify-content-around">
                                <label for="cost" class="col-md-2">참가비</label>
                                <input type="text" class="form-control" id="cost" name="cost" th:value="*{cost}" onlynum>원
                                <label for="volume" class="col-md-2">인원</label>
                                <select class="custom-select d-block w-100" id="volume" name="volume" th:value="*{volume}" required>
                                    <th:block th:each="num : ${#numbers.sequence(1, 10)}">
                                        <option th:selected="*{volume} == ${num}"><span th:text="${num}"></span></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label th:for="explanation">내용</label>
                            <textarea class="form-control" id="explanation" rows="3" name="explanation"
                                      th:field="*{explanation}" placeholder="내용를 입력하세요"></textarea>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">용병모집 수정</button>
                    </form>
                </div>
            </div>
        </form>
    </div>

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; Futsal Ground &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main>

<script th:inline="javascript">
    window.onload=open;

    function open() {
        var position = [[${recruitDto.position}]];
        if (position.includes('g')) document.getElementById("keeper").click();
        if (position.includes('d')) document.getElementById("defence").click();
        if (position.includes('m')) document.getElementById("mid").click();
        if (position.includes('f')) document.getElementById("forward").click();
    }
</script>
<!-- Optional JavaScript; choose one of the two! -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>