<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: menu('board')"/>
    <form role="form" th:action="@{/board/post}" th:object="${boardSaveDto}" method="post">
        <input type="hidden" th:text="*{id}">
        <div class="form-group">
            <label th:for="writer" >작성자</label>
            <span class="form-control" th:text="${session.member.email}"></span>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                   placeholder="제목를 입력하세요">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea class="form-control" id="content" rows="3" th:field="*{content}"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                      placeholder="내용를 입력하세요"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                Please provide a valid city.
            </div>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" onclick="history.back()">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>