<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: menu('board')" />
    <div>
        <div class="form-group">
            <label th:for="writer">작성자</label>
            <input type="text" th:field="${boardViewDto.writer}" readonly="readonly" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="${boardViewDto.title}" readonly="readonly" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea class="form-control" id="content" rows="3" readonly="readonly" th:field="${boardViewDto.content}"></textarea>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" th:href="@{/board}">List</a>
            <a class="btn btn-primary" onclick="history.back()">Back</a>
            <a class="btn btn-primary" th:href="@{/board/{id}/edit (id=${boardViewDto.id})}">edit</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>