<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container py-5">
    <div th:replace="fragments/bodyHeader :: menu('board')" />
    <div>
        <div class="form-group">
            <label th:for="writer">작성자</label>
            <input type="text" th:field="${boardViewDto.writer}" readonly="readonly" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="${boardViewDto.title}" readonly="readonly" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea class="form-control" id="content" rows="3" readonly="readonly" th:field="${boardViewDto.content}"></textarea>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" th:href="@{/board}">목록</a>
            <span class="d-none" id="edit"><a class="btn btn-primary" th:href="@{/board/{id}/edit (id=${boardViewDto.id})}">수정</a></span>

            <!-- Button trigger modal -->
            <span class="d-none" id="delete">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                삭제
                </button>
            </span>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">게시 글 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            정말 삭제 하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
                            <a class="btn btn-danger" th:href="@{/board/{id}/delete (id=${boardViewDto.id})}">삭제</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script th:inline="javascript">
    window.onload = open();

    function open() {
        var isLogin = [[${session.member} == null ? 'no' : 'yes']];
        var boardEmail = [[${boardViewDto.writer}]];
        var editBox = document.getElementById("edit");
        var deleteBox = document.getElementById("delete");
        if (isLogin == 'yes') {
            var email = [[${session.member.email}]];
            if (boardEmail == email) {
                editBox.classList.remove("d-none")
                deleteBox.classList.remove("d-none");
            }
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>