<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: menu('board')"/>
    <form role="form" method="post" th:href="@{/board/{id}/edit (id=*{id})}" th:object="${boardViewDto}">
        <div class="form-group">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{writer}" />
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="제목를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text" th:field="*{content}" class="form-control"
                   placeholder="내용를 입력하세요">
        </div>
        <div class="text-right">
            <a class="btn btn-primary" onclick="history.back()">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>