<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Favicons -->
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <title>Welcome to Futsal Ground</title>
</head>
<body class="text-center">
<div th:replace="fragments/bodyHeader :: menu('')" />

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3 py-5">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/member/mypage}">
                            <span data-feather="home"></span>
                            정보 수정 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member/revInfo}">
                            <span data-feather="file"></span>
                            구장 예약 현황
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member/myRecruit}">
                            <span data-feather="shopping-cart"></span>
                            용병 모집 현황
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/member/myApply}">
                            <span data-feather="users"></span>
                            용병 신청 현황
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        <main role="main" class="ml-sm-auto col-lg-10 px-md-4 py-5">
            <h2>나의 모집 지원자 현황</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>이메일</th>
                    <th>선호포지션</th>
                    <th>용병경험</th>
                    <th>선택여부</th>
                    <th>선택</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="applyMember : ${applyMembers}">
                    <td th:text="${applyMember.applicant.email}"></td>
                    <td>
                        <span th:if="${applyMember.applicant.position.contains('g')} == true">골키퍼</span>
                        <span th:if="${applyMember.applicant.position.contains('d')} == true">수비수</span>
                        <span th:if="${applyMember.applicant.position.contains('m')} == true">미드필더</span>
                        <span th:if="${applyMember.applicant.position.contains('f')} == true">공격수</span>
                    </td>
                    <td th:text="${applyMember.applicant.applycnt}"></td>
                    <td th:text="${applyMember.selected} == false ? '대기중' : '선택'"></td>
                    <form th:action="@{/recruit/choice}" method="post">
                        <input type="hidden" th:value="${applyMember.id}" name="applyId">
                        <input type="hidden" th:value="${recruitId}" name="recruitId">
                        <td th:if="${applyMember.selected} == false">
                            <button class="btn btn-primary" type="submit">선택</button>
                        </td>
                        <td th:if="${applyMember.selected} == true">
                            <button class="btn btn-dark" type="submit">선택취소</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="dashboard.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>