<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="header" th:fragment="menu(menu)">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">FutsalGround</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${menu} == 'board' ? 'active' : ''">
                        <a class="nav-link" href="/board">Board <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" th:classappend="${menu} == 'player' ? 'active' : ''">
                        <a class="nav-link" href="#">Player</a>
                    </li>
                    <li class="nav-item" th:classappend="${menu} == 'member' ? 'active' : ''">
                        <a class="nav-link" href="#">JoinUs <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                    <a class="btn btn-outline-success my-2 mr-2 my-sm-0" sec:authorize="isAnonymous()" th:href="@{/member/join}">가입</a>
                    <a class="btn btn-outline-success my-2 mr-2 my-sm-0" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
                    <a class="btn btn-outline-success my-2 mr-2 my-sm-0" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
                    <a class="btn btn-outline-success my-2 mr-2 my-sm-0" sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/member/mypage}">내정보</a>
                    <a class="btn btn-outline-success my-2 mr-2 my-sm-0" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
            </div>
        </nav>
    </header>
</div>