<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="/css/carousel.css" rel="stylesheet">
    <title>Welcome to Futsal Ground</title>
    <style>
        .time-color {
            margin-left: -5px;
            margin-top: 35px;
        }
        .time-color tr td {
            height: 20px;
            width: 65px;
        }
        .time-text {
            margin-left: -15px;
        }
        .time-text td {
            width: 67px;
        }
        .available {
            background-color: #adff2f;
        }
        .reserved {
            background-color: gray;
        }
    </style>
</head>
<body>
<header>
    <div th:replace="fragments/bodyHeader :: menu('ground')" />
</header>

<main role="main">
    <div class="container marketing py-5">

        <!-- START THE FEATURETTES -->
        <h2>구장리스트</h2>
        <div class="py-3">
            <form class="d-flex justify-content-around" th:action="@{/ground}" th:object="${groundSearch}" method="get">
                <div class="d-flex justify-content-around">
                    <div class="form-group mb-2">
                        구
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="addr1" class="sr-only"></label>
                        <input type="text" class="form-control" id="addr1" th:field="*{addr1}" placeholder="ex)분당구">
                    </div>
                    <div class="form-group mb-2">
                        동
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="addr2" class="sr-only"></label>
                        <input type="text" class="form-control" id="addr2" th:field="*{addr2}" placeholder="ex)정자동">
                    </div>
                    <div class="form-group mb-2">
                        구장명
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="grdName" class="sr-only"></label>
                        <input type="text" class="form-control" id="grdName" th:field="*{grdName}" placeholder="ex)왕풋살">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <div class="row py-3" th:each="groundViewDto : ${groundViewDtos}">
            <div class="col-md-5 order-md-1 text-center">
                <a th:href="@{/ground/{id} (id=${groundViewDto.id})}">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" th:src="'/img/ground/' + ${groundViewDto.id} + '_1.jpg'" alt="이미지">
                    <span class="py-2" width="500" th:text="${groundViewDto.grdName}"></span>
                </a>
            </div>
            <div class="col-md-7 order-md-2">
                <div>
                    <span class="lead" th:text="${groundViewDto.roadAddr}"></span>
                    <button class="btn-info rounded mx-2" onclick="goMap()">지도보기</button>
                </div>
                <div class="my-3">
                    <div class="d-flex justify-content-around">
                        <table class="time-ex">
                            <tr>
                                <td width="30px" bgcolor="#adff2f"></td>
                                <td width="20px"></td>
                                <td>가능</td>
                                <td width="30px"></td>
                                <td width="30px" bgcolor="#a9a9a9"></td>
                                <td width="20px"></td>
                                <td>불가</td>
                            </tr>
                        </table>
                        <div class="mx-5">
                            <select class="custom-select d-block w-100" th:id="day + ${groundViewDto.id}" th:name="${groundViewDto.id}" onchange="changeTimeInList(this)">
                                <th:block th:each="num : ${#numbers.sequence(0, 30)}">
                                    <option><span th:text="${#temporals.format(now.plusDays(num), 'yyyy-MM-dd(E)')}"></span></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div id="timeWrap" th:class="timeWrap + ${groundViewDto.id}">
                        <div class="py-2" th:classappend="${#strings.contains(groundViewDto.timeAndCost.openday, (#temporals.format(now, 'E')))} ? 'd-none' : ''">
                            <span class="h4" th:text="'해당 구장은 ' + ${groundViewDto.timeAndCost.openday} + ' 요일만 운영합니다'"></span>
                        </div>
                        <div class="open" th:classappend="${#strings.contains(groundViewDto.timeAndCost.openday, (#temporals.format(now, 'E')))} ? '' : 'd-none'">
                            <table class="time-color">
                                <tr>
                                    <td id="a" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('a') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('06~08') ? 'reserved' : 'available'}|"></td>
                                    <td id="b" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('b') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('08~10') ? 'reserved' : 'available'}|"></td>
                                    <td id="c" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('c') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('10~12') ? 'reserved' : 'available'}|"></td>
                                    <td id="d" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('d') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('12~14') ? 'reserved' : 'available'}|"></td>
                                    <td id="e" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('e') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('14~16') ? 'reserved' : 'available'}|"></td>
                                    <td id="f" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('f') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('16~18') ? 'reserved' : 'available'}|"></td>
                                    <td id="g" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('g') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('18~20') ? 'reserved' : 'available'}|"></td>
                                    <td id="h" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('h') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('20~22') ? 'reserved' : 'available'}|"></td>
                                    <td id="i" th:classappend="|${groundViewDto.timeAndCost.startTime.indexOf('i') >= 0 ? 'available' : 'reserved'} ${groundViewDto.revs.contains('22~24') ? 'reserved' : 'available'}|"></td>
                                </tr>
                            </table>
                            <table class="time-text">
                                <tr>
                                    <td>06</td>
                                    <td>08</td>
                                    <td>10</td>
                                    <td>12</td>
                                    <td>14</td>
                                    <td>16</td>
                                    <td>18</td>
                                    <td>20</td>
                                    <td>22</td>
                                    <td>24</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="btn" th:classappend="${groundViewDto.amenities.parking} == 'y' ? 'btn-success' : 'btn-dark'">주차</div>
                    <div class="btn" th:classappend="${groundViewDto.amenities.hotcold} == 'y' ? 'btn-success' : 'btn-dark'">냉난방</div>
                    <div class="btn" th:classappend="${groundViewDto.amenities.ball} == 'y' ? 'btn-success' : 'btn-dark'">공</div>
                    <div class="btn" th:classappend="${groundViewDto.amenities.vest} == 'y' ? 'btn-success' : 'btn-dark'">조끼</div>
                    <div class="btn" th:classappend="${groundViewDto.amenities.shoes} == 'y' ? 'btn-success' : 'btn-dark'">풋살화</div>
                    <div class="btn" th:classappend="${groundViewDto.amenities.shower} == 'y' ? 'btn-success' : 'btn-dark'">샤워</div>
                </div>
                <div>

                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1 == groundViewDtos.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" href="#"  th:href="@{/ground(page=${groundViewDtos.pageable.pageNumber}-1)}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${curPage == i} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}" >
                    <a class="page-link" href="#" th:href="@{/ground(page=${i}-1)}" th:text="${i}" >1</a></li>
                <li class="page-item" th:classappend="${totalPage == groundViewDtos.pageable.pageNumber+1} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{/ground(page=${groundViewDtos.pageable.pageNumber}+1)}">Next</a>
                </li>
            </ul>
        </nav>



        <!-- /END THE FEATURETTES -->

    </div>


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script th:src="@{/js/showReservation.js}"></script>
</body>
</html>